<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <!-- Appenders -->
    <!-- Console log -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d|%-5level|%X{entryPoint}|%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Log file -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logback.path}/wps.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d|%-5level|%X{entryPoint}|%logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Embedded frameworks & tools -->
    <!-- Developpement settings
    <logger name="com.socialcomputing" level="debug" />
    -->
    <logger name="com.socialcomputing" level="warn" />
    
    <!-- Root logger -->
    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>